<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%- title %></title>
</head>
<body>
    <%- include('navbar') %>
    <ul>
        <% messages.map((message) => {%>
            <li>
                <h2><%= message.username %></h2>
                <h3><%= message.message %></h3>
                <h3><%= message.date_added %></h3>
                <a href="/details/<%= message.id%>">Details</a>
            </li>
        <% }) %>
    </ul>
</body>
</html>